.user-warp{
  width:100vw;
  position: relative;
  overflow: hidden;
  background: #F4F4F4;
  padding-bottom:0.3rem;
  .top{
    height:1.8rem;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
    .left{
      flex:1;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      .left-l{
        width:1.4rem;
        height:1.4rem;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        margin-right:0.3rem;
        border:2px solid #fff;

      }
      .left-r{
        flex:1;
        text-align: left;
        p{
          line-height: 0.8rem;
        }
        .p-t{
          font-size: 0.3rem;
          color:#353535;
        }
        .p-c{
          span{
            line-height: normal;
            display: inline-block;
            padding:0.08rem 0.2rem;
            border-radius: 0.35rem;
            &.span1{
              background: #BBBBBB;
              color:#fff;
            }
            &.span2{
              background: #fff;
              color:#393939;
            }
          }
        }
      }
    }
    .right{
      width:1rem;
      .icon{
        font-size: 0.5rem;
        color:#313131;
      }
    }
  }
  .grid-warp{
    border-radius: 0.2rem;
    overflow: hidden;
    position: relative;
    .gridContent{
      .icon{
        font-size: 0.5rem;
        color:#FF6769;
      }
      p{
        color:#676767;
        .dot{
          width:0.08rem;
          height:0.08rem;
          display: inline-block;
          background: #FE3A3B;
          line-height: normal;
          border-radius: 50%;
          vertical-align: middle;
          overflow: hidden;
        }
      }
    }
    .bottoms{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height:1rem;
      border-top:1px solid #F9F9F9;
      background: #fff;
      align-items: center;
      .left{
          flex:1;
          height:100%;
          justify-content: flex-start;
          align-items: center;
          .left-l{
            width:0.8rem;
            height:0.8rem;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            margin-right:0.1rem;
          }
          .left-r{
              flex:1;
              text-align: left;
          }
      }
      .right{
        width:1rem;
        .icon{
          font-size: 0.3rem;
          color:#CCCCCC;

        }
      }
    }
  }

}
