.video-warp{
  width:100vw;
  position: relative;
  overflow: hidden;
  //padding:0px 0.2rem;
  //padding-bottom:0.7rem;
  background: #F5F5F5;
  padding-bottom:0.3rem;
  .v-warp{
    height:1rem;
    width:100%;
    position: relative;
    overflow: hidden;
    .v-title{
      width:1.8rem;
      height:100%;
      margin:0 auto;
      position: relative;
      overflow: hidden;
      .tipLine{
        width:0.8rem;
        height:0.07rem;
        background: -webkit-linear-gradient(#FF3E3E, #FF7777); /* Safari 5.1 - 6.0 */
        background: -o-linear-gradient(#FF3E3E, #FF7777); /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient(#FF3E3E, #FF7777); /* Firefox 3.6 - 15 */
        background: linear-gradient(#FF3E3E, #FF7777); /* 标准的语法（必须放在最后） */
        position: absolute;
        bottom:0.26rem;
        border-radius: 0.8rem;
        text-align: center;
        overflow: hidden;
        left:0rem;
        transition: all 0.3s ease;
      }
      span{
        position: relative;
        width:0.9rem;
        height:100%;
        line-height: 1rem;
        display: inline-block;
        font-size: 0.3rem;
        color:#626262;
        &.actives{
            color:#313131;

        }
      }
    }
  }
  .van-tabs{
    .van-tabs__wrap{
      .van-tabs__nav{
        .van-tab {
          &.van-tab--active{

          }
        }
        .van-tabs__line{
          bottom: 6vw;
        }
      }
    }
  }
  .gzwarp{
    width:100%;
    height:auto;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:0 0.2rem;
    .titles{
      width:100%;
      font-size: 0.25rem;
      height:0.8rem;
      text-align: left;
      line-height: 0.8rem;
      span{
        font-size: 0.2rem;
        color:#7B7B7B;
      }
    }
    .qygc{
      width:100%;
      font-size: 0.25rem;
      height:0.8rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background: #fff;
      border-radius: 0.1rem;
      padding:0 0.2rem;

    }
    .items-warp{
      width:100%;
      margin-top:0.3rem;
      height:auto;
      position: relative;
      border-top:1px solid #EAEAEA;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      padding-top:0.2rem;
      .item{
        flex:1;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom:0.2rem;
        .left{
          width:1rem;
          height:1rem;
          position: relative;
          overflow: hidden;
          border-radius: 50%;
          margin-top:0.2rem;
          margin-right:0.2rem;
        }
        .right{
          flex:1;
          position: relative;
          overflow: hidden;
          text-align: left;
          .r-titles{
            line-height: 0.4rem;
            font-size: 0.25rem;
            color:#6485AC;
            span{
              font-size: 0.25rem;
              color:#737373;

            }
          }
          .time{
            margin:0.1rem 0 0.1rem;
            line-height: 0.4rem;
            font-size: 0.2rem;
            color:#ADADAD;
          }
          .description{
            position: relative;
            overflow: hidden;
            .p-ycyh{
              line-height: 0.4rem;
              color:#6283AB;
              font-size: 0.25rem;
              margin-bottom:0.2rem;
            }
            .p-text{
              line-height: 0.4rem;
              color:#313131;
              font-size: 0.25rem;
              margin-bottom:0.2rem;
            }
            .img{
              border-radius: 0.18rem;
              overflow: hidden;
              position: relative;
            }
            .name{
              display: flex;
              border-radius: 0.18rem;
              overflow: hidden;
              flex-direction: row;
              justify-content: flex-start;
              background: #E9E9E9;
              padding:0.2rem 0.15rem;
              margin:0.2rem 0;
              .avator{
                height:0.7rem;
                width:0.7rem;
                position: relative;
                overflow: hidden;
                border-radius: 0.05rem;
                margin-right:0.2rem;
              }
              .subtitle{
                flex:1;
                position: relative;
                overflow: hidden;
                p{
                  line-height: 0.35rem;
                  font-size: 0.25rem;
                  &:nth-child(1){
                    color:#2F2F2F
                  }
                  &:nth-child(2){
                    font-size: 0.22rem;
                    color:#757575
                  }
                }
              }
            }
            .ins{
              position: relative;
              overflow: hidden;
              span{
                padding:0.1rem 0.2rem;
                display: inline-block;
                background: #E9E9E9;
                color:#5D7A9A;
                font-size: 0.25rem;
                border-radius: 0.1rem;
              }
            }
            .rate{
              display: flex;
              overflow: hidden;
              flex-direction: row;
              justify-content: space-around;
              margin-top:0.2rem;
              align-items: center;
              .pub{
                flex:0 1 25%;
                color:#939393;
                font-size: 0.25rem;
                //line-height: 0.3rem;
                .icon{
                  font-size: 0.3rem;
                  color:#626262;
                  margin-right:0.06rem;
                }
                &.r-left{
                  .icon{
                    font-size: 0.3rem;
                  }
                }
                &.middle1{
                  text-align:center;
                }
                &.middle2{
                  text-align:center;
                }
                &.r-right{
                  text-align: right;
                  .icon{
                    color:#ACACAC;
                  }

                }
              }

            }
          }
        }
      }
    }
    .loadmores{
      margin-top:0.2rem;
      margin-bottom:0.1rem;
      width:100%;
      display: block;
      padding:0.3rem 0;
      line-height: 0.4rem;
      text-align: center;
      font-size: 0.3rem;
      color:#616161;
      border-color:#DDDDDD;
    }

  }
  .gxqr{
    //width:100%;
    padding:0 0.2rem;
    margin-bottom:0.4rem;
    .gxqr-warp{
      width:100%;
      height:4rem;
      .swiper-container{
        width:100%;
        height:100%;
        position: relative;
        overflow: hidden;
        .gxqr-item{
          width:100%;
          height:100%;
          position: relative;
          border:0.01rem solid red;
          border-radius: 0.15rem;
          overflow: hidden;
          .main{
            width:100%;
            height:100%;
            position: absolute;
            top:0rem;
            left:0rem;
            z-index: 7;
          }
          .pure_top{
            width:100%;
            height:1.3rem;
            position: absolute;
            top:0rem;
            left:0rem;
            z-index: 6;
            overflow: hidden;
            &.purple{
              &:after{
                background: -webkit-linear-gradient(#6C5251, #705655); /* Safari 5.1 - 6.0 */
                background: -o-linear-gradient(#6C5251, #705655); /* Opera 11.1 - 12.0 */
                background: -moz-linear-gradient(#6C5251, #705655); /* Firefox 3.6 - 15 */
                background: linear-gradient(#6C5251, #705655); /* 标准的语法（必须放在最后） */
              }
            }
            &.black{
              &:after{
                background: -webkit-linear-gradient(#353535, #595959); /* Safari 5.1 - 6.0 */
                background: -o-linear-gradient(#353535, #595959); /* Opera 11.1 - 12.0 */
                background: -moz-linear-gradient(#353535, #595959); /* Firefox 3.6 - 15 */
                background: linear-gradient(#353535, #595959); /* 标准的语法（必须放在最后） */
              }
            }
            &:after{
              content: "";
              width:150%;
              height:100%;
              position: absolute;
              left:-25%;
              top:0;
              z-index: 6;
              border-radius: 0 0 50% 50%;
            }
          }
          .icon_close{
            width:0.3rem;
            height:0.3rem;
            position: absolute;
            top:0.1rem;
            right:0.1rem;
            z-index: 8;
            background: rgba(255,255,255,0.5);
            border-radius: 50%;
            text-align: center;
            align-content: center;
          }
        }
      }
    }
  }
  .warp{
    width:100%;
    height:auto;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:0 0.2rem;
    justify-content: space-between;
    .item{
      flex:0 1 48%;
      position: relative;
      overflow: hidden;
      height:5rem;
      background: #FFFFFF;
      border-radius: 0.15rem;
      margin-bottom:0.2rem;
      .imgs{
        width:100%;
        height:3.5rem;
        position: relative;
        overflow: hidden;
        .icons{
          width:0.5rem;
          height:0.5rem;
          position: absolute;
          bottom:0.1rem;
          left:0.1rem;
          z-index: 7;
          background:#fff;
          border-radius: 50%;
          text-align: center;
          line-height: 0.55rem;
          .icont{
            position: absolute;
            bottom:0rem;
            right:-0.05rem;
            font-size: 0.25rem;
            z-index: 8;
            color:red;
          }
        }
      }
      .content{
        width:100%;
        .title{
          line-height: 0.4rem;
          color:#333333;
          padding:0 0.1rem;
          font-size: 0.25rem;
          margin-top:0.15rem;
        }
        .tips{
          width:100%;
          display: flex;
          height:0.5rem;
          justify-content: space-between;
          align-items: center;
          color:#999999;
          line-height: 0.5rem;
          padding:0 0.1rem;
          font-size: 0.2rem;
          .left{

            .icon{
              font-size: 0.2rem;
            }
          }
          .middle{
            .icon{
              font-size: 0.25rem;
            }
          }

        }
      }
    }
  }
}
